<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionView轮播图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE8795EA1E712B7200505ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8796031E712B7300505ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE87960E1E712B7300505ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
